.nav{
    padding: 20px;
    /* box-shadow: 10px grey; */
    position: sticky !important;
    top: 1px !important;
    z-index: 1 !important;
}



.pic1{
    margin-left: 40px;
}
.ser{
    margin-left: 80px;
    font-weight: bolder;
    font-size: 20px;
    position: relative;

}
.ser:hover{
    color: #03fc88 !important;
}
.ser:before{
    content: "";
    position: absolute;
    bottom: -2px;
height: 2px;
width: 0;
background: #03fc88;
border-radius: 50px;
transition: width 0.3s ease;

}
.ser:hover::before{
    width: 85%;
}
.par{
    margin-left: 15px ;
    font-weight: bolder !important;
    font-size: 20px;
    position: relative;
}
.par:hover{
    color: #03fc88 !important;
}
.par:before{
    content: "";
    position: absolute;
    bottom: -2px;
height: 2px;
width: 0;
background: #03fc88;
border-radius: 50px;
transition: width 0.3s ease;

}
.par:hover::before{
    width: 85%;
}
.bt1{
    background-color:#0366fc !important;
    color: white !important;
    border: none !important;
    margin-left: 20px;
}
.bt2{
    background-color:rgb(70 ,147, 21) !important;
    color: white !important;
    border: 1px solid #0366fc !important;
    margin-right: 50px;
}
.vid{
    border-radius: 40px !important;
  
   
    width: 1350px !important;
      padding: 20px;
    
  
}
.pic2{
  position: relative;
  left: 700px;
}
.div1{
    position: relative;
    bottom: 400px;
    left: 100px;
}
.bt3{
    padding: 10px;
    border-radius: 5px;
}
.div-2{
    /* padding: 50px; */
    background-color: rgb(225, 255, 245);
    margin-top: 0px;
    margin-right: 80px;
    margin-left: 80px;
    height: 170px;
}

.sub-div{
    position: relative;
    top: 30px;
}

.b-0{
    /* margin: 30px; */
    width: 70px;
    background-color: rgb(61, 59, 59);
    color: white;
    border-style: none;
    border-radius: 6px;
    height: 50px;
}

.b-i{
    width: 100px;
    border-style: none;
    border-radius: 6px;
    height: 50px;
    border: 1px solid black;
    margin-right: -6px;
    margin-left: -10px;
    z-index: -1;
}

.b-2{
    width: 70px;
    background-color: rgb(61, 59, 59);
    color: white;
    border-style: none;
    border-radius: 0px 6px 6px 0px;
    height: 50px;
}

.b-1{
    border-radius: 6px;
    border-style: none;
    height: 50px;
    position: relative;
    top: -20px;
    margin: 30px;
    background-color: white;
}

.b-donate{
    border-radius: 6px;
    border-style: none;
    height: 50px;
    position: relative;
    top: 40px;
    left: -750px;
    margin: 30px;
    background-color: green;
}

.b-1:hover{
    transform: scale(1.1);
    transition: step-start;
    background-color: black;
    color: white;
}

.img{
    margin: 70px;
    height: 750px;
}

.head{
    text-align: center;
}

.ii{
    margin: 70px;
}

.icon{
    height: 150px;
    width: 150px;
    border-style: none;
    background-color: rgb(208, 248, 235);
}

.icons{
    height: 100px;
    width: 100px;
} 

.icon:hover{
 transform: scale(1.1);
}

.card{
    margin: 75px;
}







.circle{
    margin: 75px;
    margin-bottom: -3px;
    
}

.food{
    margin: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 10%;
    height: 100px;
    border-radius: 80%;
    position: relative;
    top: -300px;
}

.f-1{
    display: inline;
    
}

.done{
    background-color: green;
    /* position: relative;
    bottom: 20px; */
}
.main{
    /* background-color: #03fc88; */
    width: 100%;
    /* display: inline-block; */
    /* float: right; */
    display: flex;
    flex-direction: row;
    margin: 30px;
    /* height: 300px; */
    margin-bottom: 15%;
}

.pic{
    display: flex;
    flex-direction: row;
    margin: 75px;
    background-color: #0366fc;
    width: 10%;
}
.pic-1{
    border: 1px solid white;
}

.pic-2{
    position: relative;
    top: 200px;
    left: -285px;
    display: flex;
    flex-direction: row;
    margin: 75px;
    /* background-color: #0366fc; */
    width: 10%;
}

.pic-3{
    border: 1px solid white;
}


.para{
    position: relative;
    right: -2%;
    /* top: 100%; */
    bottom: -50px;
    /* background-color: antiquewhite; */
    width: 50%;
}









body {
    box-sizing: border-box;
}
.div8-head {
    text-align: center;
}

.div8-head {
    margin-bottom: 50px;
    margin-top: 50px;
}

.div8-head span {
    color: #8dc63f;
}

.ant-typography {
    color: rgba(0, 0, 0, .85);
    word-break: break-word;
}

.div8-text {
    font-size: 16px !important;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    border: 2px;
    border-radius: 10px;
    background-size: 120px;
    background-color:  #CCCCCC;
    padding: 40px ; 
    box-sizing: border-box;
    
  }
.profile-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    border: 2px solid #ffffff; 
    overflow: hidden; 
  }
  
.card1 {
    background-color: #8dc63f;
    font-size: smaller;
    padding: 8px 10px;
}

.div-11 {
    background-image: url(./img/guide_back.3a5127e910c15a49f875.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    background-color: #146bad;
}

.div11-input::placeholder {
    color: wheat;
}


.div11-btn {
    background-color: #fff;
    color: #666;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    padding: 15px 30px;
    width: 100%;
}

.footer {
    background-color: #424242;
    padding: 50px;
    position: relative;
    color: white;
}

.footer:before {
    background-image: url(./img/upcoming_background.a669f19ea2aee3c7e10f.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer-icons {
    margin-top: 20px;
    padding: 10px;
    z-index: 1;
}

.footer-icons div {
    border-radius: 0;
    cursor: pointer;
    margin-left: 10px;
    z-index: inherit;
}



.about ul {
    padding: 0;
    z-index: inherit;
    color: white;
}

.about ul li {
    cursor: pointer;
    line-height: 40px;
    list-style-type: none;
}

.footer_contact span {
    color: #fff !important;
    font-size: 12px;
}

.footer_copyright {
    align-items: center;
    border-top: 0.2px solid hsla(0, 0%, 100%, .2);
    display: flex;
    justify-content: center;
}


.footer_copyright span {
    margin-top: 15px;
}



.media_banner .media_play {
    cursor: pointer;
    height: 50px;
    object-fit: contain;
    position: absolute;
    width: 50px;
    z-index: 100;
}

.media_banner img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.media_banner {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.media_content {
    margin: 0px auto;
    width: 300px;
}
